/* Components Mixins */

//Banner mixin
@mixin banner-styles($height, $margin-bottom, $font-size) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $height;
  margin-bottom: $margin-bottom;
  border-radius: $banner-border-radius;
  box-shadow: 0px 4px 4px 0px #00000040;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $banner-border-radius;
    filter: brightness(50%);
  }

  .banner_title {
    position: absolute;
    h1 {
      padding: 10px;
      color: white;
      font-size: $font-size;
    }
  }
}

//Card mixin
@mixin card-styles($height) {
  width: 100%;
  height: $height;
  position: relative;
  color: $secondary;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius;
  }

  .card_title {
    position: absolute;
    display: flex;
    align-items: flex-end;
    border-radius: $border-radius;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: linear-gradient(349deg, $gradient-color, transparent);
    padding: $card-padding;

    h2 {
      font-size: 18px;
    }
  }
}

//Collapse mixin
@mixin collapse-styles {
  overflow: hidden;
  margin-bottom: $collapse-margin-bottom;

  .title_collapse {
    display: flex;
    justify-content: space-between;
    background-color: $collapse-background;
    position: relative;
    z-index: 1;
    padding: $collapse-title-padding;
    border-radius: $collapse-title-border-radius;
    h3 {
      margin: 0;
      color: $collapse-title-color;
    }
    button {
      background-color: transparent;
      border: none;
      margin-right: 10px;
      cursor: pointer;
      animation: cancelRotation 200ms linear;
      &.rotate {
        animation: rotation 200ms linear forwards;
      }

      i {
        color: $collapse-title-button-color;
        transform: scale(1.5);
      }
    }
  }

  p,
  ul {
    padding: 10px;
    background-color: $collapse-items-background;
    list-style: none;
    animation: dropDownOpen 300ms linear;
  }
}

//Gallery mixin
@mixin gallery-styles($gap, $padding, $height, $background, $border-radius) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $gap;
  padding: $padding;
  min-height: $height;
  background-color: $background;
  border-radius: $border-radius;
}

//Header mixin
@mixin header-styles($margin, $font-size, $img-width) {
  margin: $margin;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: $img-width;
  }

  nav {
    display: flex;
    font-size: $font-size;
    width: 300px;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: $fourth;
      margin-left: auto;
    }
    .activeLink {
      text-decoration: underline;
    }
  }
}

//Layout mixin
@mixin container-styles($padding) {
  padding: $padding;
}

//Footer mixin
@mixin footer-styles($height, $bg-color, $text-color, $padding) {
  display: flex;
  height: $height;
  background-color: $bg-color;
  color: $text-color;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: $footer-img-width;
      margin: $padding;
    }
  }
}

//Rating mixin
@mixin rating-styles($width, $font-size, $on-color, $off-color) {
  display: flex;
  justify-content: space-between;
  width: $width;
  font-size: $font-size;

  .on {
    color: $on-color;
  }
  .off {
    color: $off-color;
  }
}

//Slideshow mixin
@mixin slideshow-styles($container-height, $ctrls-scale) {
  .picture_container {
    position: relative;
    height: $container-height;
    width: 100%;
    margin-bottom: 20px;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    opacity: 0;
    &.show {
      opacity: 1;
    }
  }
  .ctrls {
    position: absolute;
    color: $secondary;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    button {
      position: absolute;
      background: transparent;
      top: 0;
      bottom: 0;
      width: 12%;
      border: none;
      border-radius: 25px;
      i {
        color: $secondary;
        transform: scale($ctrls-scale);
      }
    }
    .ctrl_prev {
      left: 0;
    }
    .ctrl_next {
      right: 0;
    }
    .current_count {
      position: absolute;
      top: 85%;
      left: 50%;
      font-size: 18px;
    }
  }
}

//Tags mixin
@mixin tag-styles($min-width, $max-width, $font-size) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(#{$min-width}, #{$max-width}));
  gap: 10px;
  margin: 25px 0;

  .tag {
    border-radius: 10px;
    padding: 2px;
    font-size: $font-size;
    color: $secondary;
    background-color: $primary;
    text-align: center;
  }
}

/* Pages Mixins */

//Logement mixin
@mixin logements-styles($text-size, $host-img-size) {
  .logements {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    h2 {
      color: $primary;
      font-size: $text-size;
    }
    .accomodation_details {
      width: 100%;
      p {
        font-size: $text-size;
        margin-top: 10px;
      }
    }
    .host_details {
      .host_presentation {
        color: $primary;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
        .host_name {
          align-content: end;
          align-self: center;
          margin-right: 10px;
          span {
            display: block;
            text-align: end;
          }
        }
        img {
          width: $host-img-size;
          height: $host-img-size;
        }
      }
    }
  }
}

//Propos mixin
@mixin about-list-container-styles($width) {
  width: $width;
  margin: auto;
}

//Error mixin
@mixin error-section-styles(
  $span-size,
  $p-margin,
  $p-font-size,
  $a-font-size,
  $a-margin
) {
  color: $primary;
  text-align: center;

  span {
    display: block;
    margin-top: 60px;
    font: {
      weight: 700;
      size: $span-size;
    }
  }
  p {
    margin-block: $p-margin;
    font-size: $p-font-size;
  }
  a {
    display: block;
    color: $fourth;
    margin-bottom: $a-margin;
    font-size: $a-font-size;
  }
}
