.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  margin-bottom: 40px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px #00000040;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(50%);
  }

  .banner_title {
    position: absolute;
    h1 {
      padding: 10px;
      color: white;
    }
  }

  @media screen and (min-width: 426px) and (max-width: 780px) {
    height: 162px;
    margin-bottom: 30px;
    h1 {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 425px) {
    height: 111px;
    margin-bottom: 20px;
    h1 {
      font-size: 24px;
    }
  }
}
