.card {
  width: 340px;
  height: 340px;
  margin: 10px auto;
  background-color: $primary;
  color: $secondary;
  border: {
    radius: 10px;
  }
  border: 1px solid black;
  img{
    width: 100%;
  }
}
