$card-height-lg: 340px;
$card-height-sm: 225px;
$border-radius: 10px;
$gradient-color: #0000001f;
$card-padding: 20px;

@mixin card-styles($height) {
  width: 100%;
  height: $height;
  position: relative;
  color: $secondary;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius;
  }

  .card_title {
    position: absolute;
    display: flex;
    align-items: flex-end;
    border-radius: $border-radius;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: linear-gradient(349deg, $gradient-color, transparent);
    padding: $card-padding;

    h2 {
      font-size: 18px;
    }
  }
}

.card {
  @include card-styles($card-height-lg);

  @media screen and (max-width: 425px) {
    height: $card-height-sm;
  }
}
