.card {
  width: 100%;
  height: 340px;
  position: relative;
  color: $secondary;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: {
      radius: 10px;
    }
  }
  .card_title {
    position: absolute;
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: linear-gradient(349deg, #0000001f, transparent);
    padding: 20px;
    h2 {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 425px) {
  .card {
    height: 225px;
  }
}
