.collapse {
  overflow: hidden;
  margin-bottom: 25px;

  .title_collapse {
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    position: sticky;
    z-index: 1;
    padding: 8px;
    border-radius: 5px;
    button {
      background-color: transparent;
      color: $third;
      border: none;
      margin-right: 10px;
      &.rotate {
        animation: rotation 3s linear;
      }

      i {
        transform: scale(1.5);
      }
    }
  }
  h2 {
    margin: 0;

    color: $secondary;
  }
  p {
    padding: 10px;
    background-color: $third;
    animation: dropDown 1s linear;
  }
  ul {
    padding: 10px;
    background-color: $third;
    list-style: none;
    animation: dropDown 1s linear;
  }
}

@keyframes dropDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes rotation {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(180deg);
  }
}
