.collapse {
  overflow: hidden;
  width: 582px;
  margin: 20px;

  .title_collapse {
    display: flex;
    justify-content: space-between;
    background-color: $primary;
    position: sticky;
    z-index: 1;
    button {
      background-color: transparent;
      color: $third;
      border: none;

      &.rotate {
        animation: rotation 1s linear;
      }
    }
  }
  h2 {
    margin: 0;

    color: $secondary;
  }
  p {
    margin: 0;
    background-color: $third;
    animation: dropDown 1s linear;
  }
  ul {
    background-color: $third;
    margin: 0;
    padding: 0;
    list-style: none;
    animation: dropDown 1s linear;
  }
}

@keyframes dropDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes rotation {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(180deg);
  }
}
