.collapse {
  .title_collapse {
    display: flex;
    justify-content: space-between;
    background-color: $primary;
  }
  h2 {
    margin: 0;

    color: $secondary;
  }
  p {
    margin: 0;
    background-color: $third;
  }
  ul {
    background-color: $third;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
