.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  min-height: 200px;
  background-color: $third;
  border: {
    radius: 25px;
  }
}

@media screen and (min-width: 426px) and (max-width: 780px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
