header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px;
  img {
    width: 210px;
  }
  nav {
    display: flex;
    width: 300px;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: $fourth;
      margin-left: auto;
    }
    .activeLink {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 780px) {
  header {
    img {
      width: 120px;
    }
  }
}
