header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    display: flex;
    width: 400px;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: $fourth;
    }
    .activeLink {
      text-decoration: underline;
    }
  }
}
