.logements {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  h2 {
    color: $primary;
  }
  .accomodation_details {
    background-color: beige;
    span {
      color: $secondary;
      background-color: $primary;
      margin-right: 5px;
    }
  }
  .host_details {
    background-color: pink;
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
    span {
      color: $primary;
    }
  }
}

.logements_collapse {
  display: flex;
}
