.logements {
  display: flex;
  justify-content: space-between;
  h2 {
    color: $primary;
  }
  .accomodation_details {
    span {
      color: $secondary;
      background-color: $primary;
      margin-right: 5px;
    }
  }
  .host_details {
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }
}

.logements_collapse {
  display: flex;
}
