.logements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  h2 {
    color: $primary;
  }
  .accomodation_details {
    width: 100%;
  }
  .host_details {
    .host_presentation {
      color: $primary;
      text-align: end;
      margin-bottom: 10px;
      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }
  }
}
.logements_collapse {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 76px;
  .collapse {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 426px) and (max-width: 780px) {
  .logements {
    flex-flow: column;
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
    .host_details {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      .host_presentation {
        img {
          width: 48px;
          height: 48px;
        }
        span {
          font-size: 14px;
        }
      }
    }
  }

  .logements_collapse {
    gap: 35px;
  }
}

@media screen and (max-width: 425px) {
  .logements {
    flex-flow: column;
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
    .host_details {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      .host_presentation {
        img {
          width: 32px;
          height: 32px;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
  .logements_collapse {
    display: block;
  }
}
