@import "./base/variables";
@import "./components/HeaderApp.scss";
@import "./components/FooterApp.scss";
@import "./pages/Error.scss";
@import "./components/Banner.scss";
@import "./components/Card.scss";
@import "./components/Gallery.scss";